###
# CMake Gitignore: https://github.com/github/gitignore/blob/main/CMake.gitignore
###
build/CMakeLists.txt.user
build/CMakeCache.txt
build/CMakeFiles
build/CMakeScripts
build/Testing
build/Makefile
build/cmake_install.cmake
build/install_manifest.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/_deps

###
# C++ gitignore: https://github.com/github/gitignore/blob/main/C%2B%2B.gitignore
###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

###
# Qt gitignore: https://github.com/github/gitignore/blob/main/Qt.gitignore
###

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

###
# Doxygen gitignore: https://github.com/doxygen/doxygen/blob/master/.gitignore
###
docs/*~
docs/.*sw?
docs/\#*
docs/.DS_Store

docs/doxygen_docs
docs/doxygen.tag
docs/build*
docs/qtools_docs
docs/warnings.log

docs/html/*
docs/latex/*

###
# Custom gitignore
###

# Build Intermediate files
build/.cmake
# !build/JennyStatsGen

# The build directory
build/ 

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Credentials and datasets
src/.env
datasets/woocommerce/*
export/diagrams/*
export/reports/*
src/__*

# Virtual environments
ssdt-venv

# TODO log
TODO.md